/part08-Part08_14.DictionaryOfManyTranslations/target/
/part10-Part10_01.AverageOfNumbers/target/
/part10-Part10_02.AverageOfSelectedNumbers/target/
/part10-Part10_04.Divisible/target/
/part10-Part10_13.LiteracyComparison/target/
/part11-Part11_11.ValidatingParameters/target/
/part11-Part11_12.SensorsAndTemperature/target/
/part11-Part11_13.SaveableDictionary/target/
/part10-Part10_14.Literature/target/
/part12-Part12_01.Hideout/target/
/part12-Part12_02.Pipe/target/
/part12-Part12_03.SumTheseForMe/target/
/part12-Part12_06.Numbers/target/
/part12-Part12_09.ArrayAsAString/target/
